<header id="top-header">
  <span class="site-name">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin) { %>
    <a title="Click to log out" href="/account"
      ><%= locals?.accountData?.acc_firstname %> <%=
      locals?.accountData?.acc_lastname %>
    </a>
    <span>|</span>
    <a title="Click to log out" href="/account/logout">Logout</a>
    <% } else { %>
    <a title="Click to log in" href="/account/login">Login</a>
    <% } %>
  </div>
</header>
