<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %> | CSE 340 App | Vermont Garcia</title>
  <meta name="author" content="Vermont Garcia" />
  <meta
    name="description"
    content="Home page for class CSE340 - Web Backend Development"
  />
  <link
    rel="shortcut icon"
    href="/images/site/favicon-32x32.png"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/large.css" />
  <script src="/js/script.js" defer></script>
</head>
