<section id="hero-section">
  <div class="hero">
    <h1>Welcome to CSE Motors!</h1>
    <picture>
      <source
        media="(min-width: 500px)"
        srcset="/images/vehicles/delorean.jpg"
      />
      <img
        src="/images/vehicles/delorean-tn.jpg"
        alt="delorean"
        width="500"
        height="300"
      />
    </picture>
    <div id="hero-card">
      <h2>DMC <span class="current-car"></span></h2>
      <ul id="hero-features"></ul>
      <img
        src="/images/site/own_today.png"
        alt="own today button"
        width="150"
        height="40"
      />
    </div>
  </div>
</section>
<section id="reviews-section">
  <h2>DMC <span class="current-car"></span> Reviews</h2>
  <ul id="reviews-container"></ul>
</section>
<section id="upgrades-section">
  <h2><span class="current-car"></span> Upgrades</h2>
  <div id="upgrades-container"></div>
</section>
