@media screen and (min-width: 1000px) {
  body {
    /* background-image: url('/images/site/checkerboard.jpg'); */
    background-image: url('/images/site/small_check.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }

  #wrapper {
    background-color: white;
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    border: 5px solid #22e5ff;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }

  #hero-section {
    grid-column: 1/3;
  }

  #upgrades-section {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  #reviews-section {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #hero-card {
    width: 40%;
    height: 45%;
    padding: 1rem;
  }
}