/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  --disabled-grey: #807f7f;
  --text-black: #000000;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;

  /* Variables Declaration */
  --text-color: #000000;
  /* Primary Colors */
  --deep-sea-blue: #03587B;
  --fountain-blue: #5BB4C3;
  --mercury: #E2E8EB;
  --white: #FFFFFF;
  /* Secondary Colors */
  --aqua-green: #6FCF97;
  --sky-blue: #56CCF2;
  --sunlight-yellow: #F2C94C;
  --soft-grey: #E0E0E0;
  /* Reviews */
  --button: #c55a03;
  /* Form */
  --required-asterisc: #990000;
  --valid: #008000;
}

nav ul,
#hero-features {
  list-style: none;
}

section {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--deep-sea-blue);
}

h1 {
  padding: 0 1rem;
}

p {
  display: inline;
}

.site-name {
  font-size: 2rem;
}

#top-header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: black;
}

nav a {
  color: whitesmoke;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  text-align: center;
  flex-grow: 1;
  display: flex;
}

nav ul li a {
  padding: 0.7rem;
  text-align: center;
  flex-grow: 1;
}

nav ul li a:hover {
  background-color: lightgray;
  color: black;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
}

.hero img {
  width: 100%;
  height: auto;
}

#hero-card {
  background-color: rgba(255, 255, 255, 0.8);
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hero-card img {
  border-color: transparent;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  width: 60%;
  height: auto;
}

#hero-card ul {
  margin: 0.5rem 0;
}

#hero-card h2 {
  text-align: center;
}

#hero-card,
.hero picture {
  grid-row: 2/3;
  grid-column: 1/2;
}

/* Inventory */

#inv-display {
  display: grid;
}

#inv-display li {
  margin: 1rem;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
}

.name-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  flex-grow: 1;
}

#inv-display h2 {
  text-align: center;
}

#inv-display a,
#inv-display img {
  width: 100%;
  height: auto;
}

#inv-display li:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

/* Inventory Details */

.inventory-details-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 1rem;
}

.inventory-details-wrapper li {
  list-style: none;
  padding: 1rem;
}

.inventory-details-wrapper li:nth-child(odd) {
  background-color: #eeeeee;
}

.inventory-details-wrapper > div,
.inventory-details-wrapper img {
  width: 100%;
  height: auto;
}

.inventory-details-wrapper ul {
  margin-top: 1rem;
}

/* Reviews */

#reviews-section {
  padding: 1rem 2rem;
}

#reviews-section ul {
  margin-top: 1rem;
}

#reviews-section ul li {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}

/* Upgrades */

#upgrades-section #upgrades-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
}

#upgrades-container .card {
  border: 1px solid lightgray;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#upgrades-container .card img {
  width: 80px;
  height: auto;
}

#upgrades-container figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Error */

.error-page div {
  margin: 2rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.error-page img {
  width: 100%;
  height: auto;
  margin-top: -3rem;
}

.error-page .code {
  font-size: 6rem;
}

.error-page p {
  font-size: 1.5rem;
}

/* Login and Registration Forms */

.form {
  padding: 1rem;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.form fieldset {
  border: none;
  padding-top: 1rem;
}

.form .submit-btn-container {
  display: flex;
  justify-content: center;
}

.form label,
.form div {
  display: block;
  color: var(--deep-sea-blue);
  font-size: 0.9rem;
  color: var(--form-labels);
  font-weight: 600;
  padding: 0.5rem 0;
}

.form label:first-child {
  padding-top: 0;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form select,
.form textarea,
.form input[type="password"] {
  background-color: var(--mercury);
  display: block;
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}

.form input[type="submit"] {
  border: none;
  background-color: var(--dark-grey);
  border-radius: 5px;
  padding: 0.8rem;
  box-shadow: 1px 1px 4px var(--dark-grey);
  color: var(--mercury);
  font-weight: 600;
  cursor: pointer;
  width: 10rem;
}

.form select:required,
.form textarea:required,
.form input:required {
  border-right: solid 4px var(--required-asterisc);
}

.form select:required:valid,
.form textarea:required:valid,
.form input:required:valid {
  border-right: solid 4px var(--valid);
}

.form .required {
  color: var(--required-asterisc);
  margin-left: 5px;
}

.form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#password-field {
  position: relative;
}

#password-field img {
  position: absolute;
  top: 2.125rem;
  right: 1rem;
  width: 2rem;
  height: auto;
  cursor: pointer;
}

#submit-btn:disabled {
  background-color: var(--disabled-grey);
  cursor: auto;
  box-shadow: none;
}

/* Inventory Management */
.inventory-management {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

/* Messages */
.notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 550px;
  margin: 0 auto;
  padding-left: 3rem;
  color: var(--valid);
}

/* Management Inventory */
section.management {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.management > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
  margin: 0 auto;
  gap: 1rem;
}

section.management select {
  background-color: var(--mercury);
  display: block;
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}

#inventoryDisplay {
  max-width: 550PX;
  width: 100%;
  margin: 0 auto;
}

#inventoryDisplay tbody td {
  padding: 0.75rem;
}

#inventoryDisplay tbody .action {
  text-align: center;
}

#inventoryDisplay tbody tr:nth-child(odd) {
  background-color: var(--mercury);
  border: solid 1px var(--mercury);
}

#inventoryDisplay p {
  align-items: center;
  padding: 0;
}

/* Delete Confirmation */
#delete-form {
  max-width: 550px;
  margin: 2rem auto;
}

#delete-form .submit-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
}

#delete-form .submit-btn-container .cancel-btn,
#delete-form .submit-btn-container .delete {
  width: 10rem;
  padding: 0.75rem;
  text-align: center;
  background-color: var(--dark-grey);
  color: var(--mercury);
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--dark-grey);
  cursor: pointer;
}

#delete-form .submit-btn-container .delete {
  background-color: var(--required-asterisc);
  color: var(--mercury);
}

/* Messages and Error Notification */
.notice.error {
  color: var(--required-asterisc);
}

p.notice {
  margin-bottom: 2rem;
  color: var(--text-color);
}

/* Footer */

footer {
  background-color: black;
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer a {
  color: whitesmoke;
  text-decoration: underline;
}
